@import './base.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');
@theme{

    --color-principal: #05203D
}

#logos{
    font-family:"Unbounded",sans-serif;
    letter-spacing: 0.2em;

}


*{
    font-family: "Rubik", sans-serif;
}

#app {

}