@import './base.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');
@theme{

    --color-principal-blue: #05203D;
    --color-secondary-blue: #1F3550;



}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}

#logos{
    font-family:"Unbounded",sans-serif;
    letter-spacing: 0.2em;

}


*{
    font-family: "Rubik", sans-serif;
}

#app {

}